/*
Colors used:
Primary Color (Orange): #F0694F;
Secondary Color (Navy): #253165;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 600;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.50em;
  font-weight: 600;
}

h4 {
  font-size: 1.13em;
  font-weight: 400;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

/* custom classes to help  */
.bold {
  font-weight: 600;
}

/* for responsivess  */
img {
  width: 100%;
  height: auto;
}

/* link styling  */
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #F0694F;
  text-decoration: none;
}

/* Navigation Styling */
header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

.logo {
  max-width: 60px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  font-weight: 600;
}

nav>ul>li {
  display: inline-block;
  padding: 0 16px
}

/* Layout styling */
.container {
  padding: 0 15px;
}

/* --------------------HOME PAGE styling-------------------- */
#home-hero {
  padding-top: 8px;
  padding-bottom: 24px;
  display: inline-block;
  width: 100%;
}

#home-hero h2 {
  text-align: center;
  line-height: 48px;
  margin: 0;
  padding-top: 16px;
}

#home-hero p {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  padding: 16px 0;
}

#home-hero img {
  width: 200px;
  max-width: 200px;
}

.profile-pic {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

#home-my-work h2 {
  text-align: center;
  font-size: 30px;
}

.my-work-row {
  padding-bottom: 24px;
}

#home-my-work h3 {
  text-align: center;
}

#home-my-work p {
  text-align: center;
}

/* Footer Styling */
#contact {
  margin-top: 40px;
  margin-bottom: 20px;
}

hr {
  width: 150px;
  color: #A4A4A4;
  border-width: 2px;
}

#contact h2 {
  text-align: center;
  margin: 0;
  padding: 8px 0;
  line-height: 42px;
}

#contact p {
  text-align: center;
  margin: 0;
  padding: 16px 0;
}

.email-button {
  text-align: center;
  display: block;
  padding: 24px 0;
}

.socials {
  text-align: center;
  display: block;
  padding-top: 20px
}

.button {
  background-color: #253165;
  color: #ffffff;
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
  text-decoration: none
}

.button:hover {
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}

.fa {
  padding: 10px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #515A84
}

.fa:hover {
  opacity: 0.7;
  color: white;
}

.copyright {
  font-size: 14px;
  padding: 24px 0;
}

/* --------------------ABOUT PAGE styling-------------------- */
#about-intro {
  margin: 16px 0;
}

#about-intro h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 8px;
}

#about-intro p {
  text-align: center;
  margin: 0;
}

#about-why-ux {
  margin: 16px 0;
  padding: 18px 0;
}

#about-why-ux h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 8px;
}

#about-why-ux p {
  text-align: center;
  margin: 0;
  padding-bottom: 8px;
}

#about-skills-tools h2 {
  margin: 0;
  padding-left: 16px;
}

#about-skills-tools p {
  font-size: 18px;
  line-height: 24px;
}

.icon-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-skills-tools ul {
  padding: 24px 0;
  margin: 0;
}

#about-skills-tools ul>li {
  list-style-type: none;
  text-align: center;
}

.skills {
  margin: 24px 0;
}

#about-skills-tools img {
  width: 28px
}

.tool-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tool-icon {
  margin-right: 16px;
  margin-left: 0;
}

.tool-rows {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 0;
}

.tool-column {
  padding: 0 8px;
}

/* --------------------PATCH PROJECT styling-------------------- */
#work-patch-intro {
  margin: 24px 0;
}

#work-patch-intro h2 {
  text-align: center;
  margin: 0;
  line-height: 44px;
  padding: 8px 0;
}

#work-patch-intro p {
  text-align: center;
  pdding: 16px 0;
  line-height: 18px;
  line-height: 24px;
}

.main-title {
  margin-bottom: 40px;
}

.project-description {
  margin: 24px 0;
}

.sub-head {
  text-align: center;
  color: #737373;
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 24px
}

.icon {
  width: 45px;
  margin-right: 12px;
}

.myprocess {
  margin: 60px 0;
  text-align: center;
}

/* --EMPATHISE--- */
#work-patch-empathise p {
  font-size: 16px;
}

#process-step-title {
  background-color: #F0694F;
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 60px;
}

#process-step-title h2 {
  margin: 0;
  padding: 8px 0;
}

.research-interviews {
  display: flex;
  background-color: #FEF3F1;
  margin-top: -16px;
  padding-top: 20px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.interview-text {
  margin-bottom: 60px;
}

.row-interview {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;
  justify-items: center;
}

.column-interview {
  display: flex;
  margin-bottom: 16px;
  box-shadow: 1px 1px 24px 1px rgba(0, 0, 0, 0.15);
  width: 80%;
  border-radius: 8px;
}

#work-patch-empathise ol {
  padding-left: 30px;
}

.column-personas {
  box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.15);
  margin: 40px 0;
}

.grid-container-quotes {
  display: grid;
  grid-template-columns: 1fr;
}

.personas {
  margin: 24px 0;
}

.column-comp-an {
  display: flex;
  box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin: 20px 0;
}

.row-comp-an {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* --DEFINE--- */
.persona-profile {
  width: 100px;
}

#user-flow-title {
  background-color: #FEF3F1;
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

#user-flow-title h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#user-flow-title p {
  margin: 0;
  padding: 0;
}

#user-flow-title img {
  padding-right: 8px;
}

#work-patch-define h4 {
  font-weight: 600;
}

/* --IDEATE--- */
/* --PROTOTYPE--- */
/* --TEST--- */
#usability-tests {
  background-color: #FEF3F1;
  padding: 16px 0;
}

.test-icon-title {
  display: flex;
  align-items: center;
  justify-content: start;
}

/* --Iterate & Refine--- */
#work-patch-iterate h3 {
  margin-bottom: 8px;
  margin-top: 0;
  text-align: center;
}

#work-patch-iterate h4 {
  margin-bottom: 8px;
  margin-top: 0;
  text-align: center;
}

#work-patch-iterate p {
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.amendment-title {
  margin-top: 60px;
  margin-bottom: 24px;
}

.text-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.amendment-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 8px;
}

.two-amendment-1 {
  display: flex;
  align-items: start;
  margin: 30px 0;
}

.text-1 {
  text-align: center;
}

.amendment-2 {
  margin: 30px 0;
}

.amendment-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 8px;
}

.two-amendment-3 {
  display: flex;
  align-items: start;
  margin: 30px 0;
}

.amendment3 {
  margin-bottom: 60px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  /* -----------General---------- */
  h1, h2, h3, h4 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75em;
    font-weight: 600;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 600;
  }

  h3 {
    font-size: 1.50em;
    font-weight: 600;
  }

  h4 {
    font-size: 1.13em;
    font-weight: 400;
  }

  /* Layout styling */
  .container {
    padding: 0 24px;
  }

  /* -----------Navigation---------- */
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  /* --------------------HOME PAGE styling-------------------- */
  /* -----------home intro---------- */
  .hero-row {
    display: flex;
    align-items: center;
  }

  #home-hero h2 {
    text-align: left;
    line-height: 48px;
    margin: 0;
    padding-top: 16px;
    padding-left: 30px;
  }

  #home-hero p {
    text-align: left;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    padding: 16px 0;
    padding-left: 30px;
  }

  #home-hero {
    padding-top: 24px;
    padding-bottom: 60px;
    display: inline-block;
    width: 100%;
  }

  /* --------------------ABOUT PAGE styling-------------------- */
  /* -----------about intro---------- */
  #about-intro img {
    width: 400px;
  }

  #about-intro {
    margin-top: 24px;
    margin-bottom: 60px;
  }

  #about-intro h2 {
    padding-bottom: 18px;
  }

  .about-text-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* -----------why ux?---------- */
  #about-why-ux {
    padding-bottom: 60px;
  }

  /* -----------skills and tools---------- */
  .tool-column {
    padding: 0 24px;
  }

  .skills {
    padding-bottom: 40px;
  }

  .tools {
    padding-bottom: 60px;
  }

  /* --------------------PATCH PROJECT styling-------------------- */
  /* -----------EMPATHISE---------- */
  .grid-container-quotes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-item-quote1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .grid-item-quote2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .grid-item-quote3 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .grid-item-quote4 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .grid-item-quote5 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .grid-item-quote6 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .row-interview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
  }

/* -----------Define--------- */

  #user-flow-title {
    background-color: #FEF3F1;
    display: flex;
    padding: 24px;
    justify-content: left;
    align-items: center;
  }

  .persona-profile {
    width: 100px;
    margin-right: 20px;
  }

}

/* ==============================
  Large devices (1024px or larger)
  ================================= */
@media only screen and (min-width: 1024px) {}

/* ==============================
  X-large devices (1440px or larger)
  ================================= */
@media only screen and (min-width: 1440px) {}
